body {
  background-color: rgb(53, 51, 68);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 10%; */
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(190, 190, 243);
  background-color: rgb(85, 59, 20);
  height: 80px;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px solid rgb(92, 67, 67);
}

/* this is the image, traits and form container */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 10%; */
  padding-top: 10%;
  margin: auto;
}

.image {
  justify-content: center;
  /* border: 10px solid rgba(40, 241, 40, 0.479); */
  text-align: center;
  /* width: 100%; */
  width: 350px;
  height: auto;
  object-fit: contain;
}
.image img {
  max-width: 100%;
  max-height: 100%;
}

.userInput {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

.traits {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 10px solid rgba(255, 0, 0, 0.397);
  color: lavender;
  background-color: rgb(74, 71, 94);
  width: 95%;
  padding-top: 10px;
}

.no-traits {
  display: none;
}

table {
  text-align: left;
  width: 80%;
  color: hsl(0, 0%, 80%);
  text-shadow: 0 0 0.1em currentColor;
  padding-top: 5px;
  border-top: 1px solid black;
  /* transform-style: preserve-3d;
  animation: write linear both; */
}

.even-r {
  /* background-color: rgb(85, 66, 43); */
  background-color: rgb(74, 71, 94);
}

.odd-r {
  /* background-color: rgb(55, 72, 102); */
  background-color: rgb(74, 71, 94);
}

.error {
  border: 1px solid red;
  color: red;
}

input {
  background-color: pink;
  color: cornflowerblue;
  border-radius: 15px;
  width: 90%;
  height: 50%;
  padding: 10px;
}

button {
  justify-content: center;
  background-color: goldenrod;
  color: pink;
  border-radius: 25px;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
  height: 50%;
}

@media (min-width: 941px) {
  .App {
    display: flex;
    flex-direction: column;
  }
  .content {
    display: flex;
    flex-direction: row;
  }
  .image {
    width: 600px;
    height: auto;
    padding: 20px;
    object-fit: contain;
  }

  table {
    width: 100%px;
  }
} ;
