body {
  background-color: rgb(53, 51, 68);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
  padding: 10%;
  /* //use rem for padding margin */
  /* text-align: center; */
}
/* body {
  display: flex;
  flex-direction: column;
  background-color: blue;
} */

.image {
  justify-content: center;
  border: 10px solid rgba(40, 241, 40, 0.479);
  /* width: 100%; */
  width: 350px;
  height: auto;
  /* object-fit: contain; */
}
.image img {
  max-width: 100%;
  max-height: 100%;
}

.userInput {
  width: 80%;
  margin: auto;
  padding-top: 1rem;
}

.traits {
  border: 10px solid rgba(255, 0, 0, 0.397);
  color: lavender;
  background-color: rgb(74, 71, 94);
  width: 95%;
  padding-top: 10px;
}

table {
  text-align: left;
  width: 80%;
  color: hsl(0, 0%, 80%);
  text-shadow: 0 0 0.1em currentColor;
  /* transform-style: preserve-3d;
  animation: write linear both; */
}

.even-r {
  background-color: rgb(85, 66, 43);
}

.odd-r {
  background-color: rgb(55, 72, 102);
}

input {
  background-color: pink;
  color: cornflowerblue;
  border-radius: 15px;
  width: 90%;
  height: 50%;
  padding: 10px;
}

button {
  justify-content: center;
  background-color: blue;
  color: pink;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
  height: 50%;
}

@media (min-width: 941px) {
  .App {
    display: flex;
    flex-direction: row;
  }
  .image {
    width: 600px;
    height: auto;
    padding: 20px;
  }

  table {
    width: 100%px;
  }
} ;
