body {
  background-color: rgb(53, 51, 68);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
  padding: 10%;
  text-align: center;
}
/* body {
  display: flex;
  flex-direction: column;
  background-color: blue;
} */

.image {
  border: 1px solid rgb(40, 241, 40);
  width: 80%;
  height: auto;
  /* object-fit: contain; */
}
.image img {
  max-width: 100%;
  max-height: 100%;
}

.userInput {
  width: 80%;
}

.traits {
  border: 1px solid red;
  color: lavender;
  background-color: rgb(74, 71, 94);
  width: 80%;
  padding-top: 10px;
}

table {
  text-align: left;
  width: 100%;
  color: hsl(0, 0%, 80%);
  text-shadow: 0 0 0.1em currentColor;
  transform-style: preserve-3d;
  animation: write linear both;
}

.even-r {
  background-color: rgb(85, 66, 43);
}

.odd-r {
  background-color: rgb(55, 72, 102);
}

input {
  background-color: pink;
  color: cornflowerblue;
  border-radius: 15px;
  width: 100%;
}

button {
  background-color: blue;
  color: pink;
  border-radius: 25px;
  padding: 10px;
  width: 100%;
}

@media (min-width: 941px) {
  .App {
    display: flex;
    flex-direction: row;
  }
  .image {
    width: 40%;
    height: auto;
    padding: 20px;
  }
} ;
